NodeRedAdvanced/CityWeatherProject.json
[{"id":"2cb16533b25edc43","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"68f398baca6b5227","type":"group","z":"2cb16533b25edc43","name":"Exibição Gráfico","style":{"stroke":"#3f93cf","label":true,"color":"#000000","fill":"#bfdbef"},"nodes":["e4d895f24fef1b3c","0af265cdc0020c8b","d0cffd6d22afe113"],"x":164,"y":419,"w":362,"h":142},{"id":"c2320996feba0dad","type":"ui_tab","name":"ui_tab.label.GetCidade","icon":"dashboard","disabled":false,"hidden":false},{"id":"c1eb1a6fae13b43f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"710bc73b3b2077fc","type":"ui_group","name":"ui_group.label.getCidade","tab":"c2320996feba0dad","order":1,"disp":true,"width":11,"collapse":false,"className":""},{"id":"703e9ac8b5daa239","type":"ui_tab","name":"LabelGraficoTab","icon":"dashboard","disabled":false,"hidden":false},{"id":"8ff43afbad9e41ac","type":"ui_group","name":"LabelGraficoGroup","tab":"703e9ac8b5daa239","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"d6c789ae7d77b2a8","type":"ui_tab","name":"ui_tab.label.Title","icon":"dashboard","disabled":false,"hidden":false},{"id":"f844299f2c41b5ca","type":"ui_group","name":"ui_group.label.Title","tab":"d6c789ae7d77b2a8","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"03bdeec413bffaee","type":"ui_tab","name":"ui_tab.label.Subtitle","icon":"dashboard","disabled":false,"hidden":false},{"id":"44fb05d9f4aad31f","type":"ui_group","name":"ui_group.label.Subtitle","tab":"03bdeec413bffaee","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"837d09a99a68a416","type":"ui_spacer","z":"2cb16533b25edc43","name":"spacer","group":"710bc73b3b2077fc","order":3,"width":4,"height":1},{"id":"368bf0ad4bf9f8c2","type":"http request","z":"2cb16533b25edc43","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://nominatim.openstreetmap.org/search?city={{payload.cidade}}&state={{payload.estado}}&format=json","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":330,"y":80,"wires":[["8af7ebd82d11a091"]]},{"id":"734f12184244539e","type":"ui_form","z":"2cb16533b25edc43","name":"","label":"","group":"710bc73b3b2077fc","order":1,"width":0,"height":0,"options":[{"label":"Cidade","value":"cidade","type":"text","required":true,"rows":null},{"label":"Estado","value":"estado","type":"text","required":true,"rows":null}],"formValue":{"cidade":"","estado":""},"payload":"","submit":"Enviar","cancel":"Cancelar","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":150,"y":80,"wires":[["368bf0ad4bf9f8c2"]]},{"id":"d7e8f682a7fc54d5","type":"switch","z":"2cb16533b25edc43","name":"VerificaVazio","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":220,"y":200,"wires":[["b82623080a84ceea"],["d61384de60f00861"]]},{"id":"d61384de60f00861","type":"change","z":"2cb16533b25edc43","name":"Mensagem Erro","rules":[{"t":"set","p":"payload","pt":"msg","to":"CIdade não localizada","tot":"str"},{"t":"set","p":"logError","pt":"msg","to":"Bounding box não encontrado no payload.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":240,"wires":[["c2dcb27ebc9aa2b6","304a175e21e596d1"]]},{"id":"8af7ebd82d11a091","type":"link out","z":"2cb16533b25edc43","name":"LinkOutRequest","mode":"link","links":["745d8efa9d7984b6"],"x":535,"y":80,"wires":[]},{"id":"745d8efa9d7984b6","type":"link in","z":"2cb16533b25edc43","name":"LinkInRequest","links":["8af7ebd82d11a091"],"x":85,"y":200,"wires":[["d7e8f682a7fc54d5"]]},{"id":"c2dcb27ebc9aa2b6","type":"event-logger","z":"2cb16533b25edc43","name":"","eventLevel":"error","eventType":"ErroBuscaLocalizadade","path":"logError","pathType":"msg","templateValue":"This is a log message content: {{msg.payload}}","l":false,"x":575,"y":280,"wires":[]},{"id":"304a175e21e596d1","type":"ui_toast","z":"2cb16533b25edc43","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"msg.payload","name":"Erro Localização","x":650,"y":240,"wires":[]},{"id":"b82623080a84ceea","type":"change","z":"2cb16533b25edc43","name":"Filtrando Necessário","rules":[{"t":"set","p":"latitude","pt":"msg","to":"payload[0].lat","tot":"msg"},{"t":"set","p":"longitude","pt":"msg","to":"payload[0].lon","tot":"msg"},{"t":"set","p":"subtitle","pt":"msg","to":"payload[0].display_name","tot":"msg"},{"t":"set","p":"name","pt":"msg","to":"\"Variação de temperatura em \" & payload[0].name","tot":"jsonata"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":160,"wires":[["5c02c0e1d61cdcf4"]]},{"id":"5c02c0e1d61cdcf4","type":"link out","z":"2cb16533b25edc43","name":"LinkOutCidEst","mode":"link","links":["2ba352ecb1ab3579"],"x":575,"y":160,"wires":[]},{"id":"2ba352ecb1ab3579","type":"link in","z":"2cb16533b25edc43","name":"LinkInCidEst","links":["5c02c0e1d61cdcf4"],"x":105,"y":360,"wires":[["6ad842175c09a89f"]]},{"id":"6ad842175c09a89f","type":"http request","z":"2cb16533b25edc43","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.open-meteo.com/v1/forecast?latitude={{latitude}}&longitude={{longitude}}&hourly=temperature_2m,precipitation_probability","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":230,"y":360,"wires":[["27558384a8c34049"]]},{"id":"27558384a8c34049","type":"function","z":"2cb16533b25edc43","name":"Função Tempo e Temperatura","func":"const temperatures = msg.payload.hourly.temperature_2m;\nconst precipitationProbability = msg.payload.hourly.precipitation_probability;\nconst times = msg.payload.hourly.time;\n\nconst temperaturePoints = times.map((time, index) => ({\n    x: time,\n    y: temperatures[index]\n}));\n\nconst precipitationPoints = times.map((time, index) => ({\n    x: time,\n    y: precipitationProbability[index]\n}));\n\nmsg.payload = [\n    {\n        series: [\"Temperatura\", \"Probabilidade de Chuva\"],\n        data: [temperaturePoints, precipitationPoints],\n        labels: times\n    }\n];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":360,"wires":[["891858583faaf1aa"]]},{"id":"891858583faaf1aa","type":"link out","z":"2cb16533b25edc43","name":"LinkOutForms","mode":"link","links":["4e1ffc07139311d2"],"x":685,"y":360,"wires":[]},{"id":"e4d895f24fef1b3c","type":"ui_chart","z":"2cb16533b25edc43","g":"68f398baca6b5227","name":"","group":"710bc73b3b2077fc","order":5,"width":0,"height":0,"label":"Gráfico CIdade","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":240,"y":460,"wires":[["0af265cdc0020c8b","d0cffd6d22afe113"]]},{"id":"4e1ffc07139311d2","type":"link in","z":"2cb16533b25edc43","name":"LinkInForms","links":["891858583faaf1aa"],"x":105,"y":460,"wires":[["e4d895f24fef1b3c"]]},{"id":"0af265cdc0020c8b","type":"ui_text","z":"2cb16533b25edc43","g":"68f398baca6b5227","group":"710bc73b3b2077fc","order":2,"width":7,"height":1,"name":"","label":"Cidade","format":"{{msg.name}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":420,"y":460,"wires":[]},{"id":"d0cffd6d22afe113","type":"ui_text","z":"2cb16533b25edc43","g":"68f398baca6b5227","group":"710bc73b3b2077fc","order":4,"width":11,"height":2,"name":"","label":"Descrição Cidade","format":"{{msg.subtitle}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":450,"y":520,"wires":[]},{"id":"fdb35407fef2acad","type":"comment","z":"2cb16533b25edc43","name":"Request CIdade/Estado","info":"","x":290,"y":40,"wires":[]},{"id":"8ee28e5aec770599","type":"comment","z":"2cb16533b25edc43","name":"Request Temperatura","info":"","x":200,"y":320,"wires":[]}]