BegginerNodeRED.json
[
    {
        "id": "07c631c0bcb0cb49",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7d09b0096dd8eb1a",
        "type": "http request",
        "z": "07c631c0bcb0cb49",
        "name": "Puxando PokeAPI",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://pokeapi.co/api/v2/pokemon",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 290,
        "y": 80,
        "wires": [
            [
                "0b57a886dffc4a6e"
            ]
        ]
    },
    {
        "id": "b0da48d54d3e066f",
        "type": "debug",
        "z": "07c631c0bcb0cb49",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 260,
        "wires": []
    },
    {
        "id": "079626c688374d58",
        "type": "inject",
        "z": "07c631c0bcb0cb49",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "7d09b0096dd8eb1a"
            ]
        ]
    },
    {
        "id": "0b57a886dffc4a6e",
        "type": "change",
        "z": "07c631c0bcb0cb49",
        "name": "Trazendo Results",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.results",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 80,
        "wires": [
            [
                "7a73b64c8703e3eb"
            ]
        ]
    },
    {
        "id": "aa5933b6aad6eba1",
        "type": "split",
        "z": "07c631c0bcb0cb49",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "3c5ef92715280ba9"
            ]
        ]
    },
    {
        "id": "5c9ef8971f1d3ab1",
        "type": "http request",
        "z": "07c631c0bcb0cb49",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 490,
        "y": 160,
        "wires": [
            [
                "27a70b40dd4c8b29"
            ]
        ]
    },
    {
        "id": "3c5ef92715280ba9",
        "type": "function",
        "z": "07c631c0bcb0cb49",
        "name": "Puxando URL Poke",
        "func": "msg.originalName = msg.payload.name;\nmsg.url = msg.payload.url;\nmsg.payload = {}; \nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 160,
        "wires": [
            [
                "5c9ef8971f1d3ab1"
            ]
        ]
    },
    {
        "id": "7a73b64c8703e3eb",
        "type": "function",
        "z": "07c631c0bcb0cb49",
        "name": "Salvando nome",
        "func": "msg.payload = msg.payload.map(pokemon => {\n    return {\n        name: pokemon.name,\n        url: pokemon.url\n    };\n});\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 80,
        "wires": [
            [
                "aa5933b6aad6eba1"
            ]
        ]
    },
    {
        "id": "27a70b40dd4c8b29",
        "type": "function",
        "z": "07c631c0bcb0cb49",
        "name": "Name + Weight",
        "func": "msg.payload = {\n    name: msg.payload.name || msg.originalName,  \n    weight: msg.payload.weight\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 160,
        "wires": [
            [
                "a2859e0b2229a3a6"
            ]
        ]
    },
    {
        "id": "a2859e0b2229a3a6",
        "type": "switch",
        "z": "07c631c0bcb0cb49",
        "name": "Separando Weight",
        "property": "payload.weight",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 130,
        "y": 260,
        "wires": [
            [
                "9149326785941460"
            ],
            [
                "60474af1c33f609d"
            ]
        ]
    },
    {
        "id": "8ddf3c218c950395",
        "type": "catch",
        "z": "07c631c0bcb0cb49",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 120,
        "y": 340,
        "wires": [
            [
                "3bc61b7766f044d4"
            ]
        ]
    },
    {
        "id": "3bc61b7766f044d4",
        "type": "debug",
        "z": "07c631c0bcb0cb49",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 340,
        "wires": []
    },
    {
        "id": "9149326785941460",
        "type": "join",
        "z": "07c631c0bcb0cb49",
        "name": "Juntando arrays",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "1.0",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 340,
        "y": 240,
        "wires": [
            [
                "b0da48d54d3e066f"
            ]
        ]
    },
    {
        "id": "60474af1c33f609d",
        "type": "join",
        "z": "07c631c0bcb0cb49",
        "name": "Juntando arrays",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "1.0",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 340,
        "y": 280,
        "wires": [
            [
                "b0da48d54d3e066f"
            ]
        ]
    },
    {
        "id": "ceda212c25e779a8",
        "type": "inject",
        "z": "07c631c0bcb0cb49",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "sensorA",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 620,
        "wires": [
            [
                "19aaa6237022b852"
            ]
        ]
    },
    {
        "id": "19aaa6237022b852",
        "type": "join",
        "z": "07c631c0bcb0cb49",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 390,
        "y": 660,
        "wires": [
            [
                "e9cb403538a0c340"
            ]
        ]
    },
    {
        "id": "e9cb403538a0c340",
        "type": "debug",
        "z": "07c631c0bcb0cb49",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 660,
        "wires": []
    },
    {
        "id": "e3366e22cc88441b",
        "type": "inject",
        "z": "07c631c0bcb0cb49",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "sensorB",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 660,
        "wires": [
            [
                "19aaa6237022b852"
            ]
        ]
    },
    {
        "id": "3ade438f59aa92d0",
        "type": "inject",
        "z": "07c631c0bcb0cb49",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "sensorC",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 700,
        "wires": [
            [
                "19aaa6237022b852"
            ]
        ]
    },
    {
        "id": "773909a6e619eedd",
        "type": "inject",
        "z": "07c631c0bcb0cb49",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"value\": 23, \"category\": \"A\"}",
        "payloadType": "json",
        "x": 230,
        "y": 760,
        "wires": [
            [
                "505211d920b28241"
            ]
        ]
    },
    {
        "id": "505211d920b28241",
        "type": "join",
        "z": "07c631c0bcb0cb49",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "payload.category",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 390,
        "y": 800,
        "wires": [
            [
                "3c6be5380f9fb423"
            ]
        ]
    },
    {
        "id": "3c6be5380f9fb423",
        "type": "debug",
        "z": "07c631c0bcb0cb49",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 800,
        "wires": []
    },
    {
        "id": "2c01fed972b65acc",
        "type": "inject",
        "z": "07c631c0bcb0cb49",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"value\": 32, \"category\": \"B\"}",
        "payloadType": "json",
        "x": 230,
        "y": 800,
        "wires": [
            [
                "505211d920b28241"
            ]
        ]
    },
    {
        "id": "d6a9f7304d9b4cb1",
        "type": "inject",
        "z": "07c631c0bcb0cb49",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"value\": 45, \"category\": \"C\"}",
        "payloadType": "json",
        "x": 230,
        "y": 840,
        "wires": [
            [
                "505211d920b28241"
            ]
        ]
    },
    {
        "id": "19274f9bca2cabb5",
        "type": "inject",
        "z": "07c631c0bcb0cb49",
        "name": "door locked",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "door locked",
        "payloadType": "str",
        "x": 170,
        "y": 1000,
        "wires": [
            [
                "148f1a5e373fe1c7"
            ]
        ]
    },
    {
        "id": "148f1a5e373fe1c7",
        "type": "trigger",
        "z": "07c631c0bcb0cb49",
        "name": "",
        "op1": "door locked",
        "op2": "set alarm",
        "op1type": "str",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 340,
        "y": 1020,
        "wires": [
            [
                "b47adca1d8bad355",
                "088d00a707f3938b"
            ]
        ]
    },
    {
        "id": "b47adca1d8bad355",
        "type": "debug",
        "z": "07c631c0bcb0cb49",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 1020,
        "wires": []
    },
    {
        "id": "0d37cca908dd2d45",
        "type": "inject",
        "z": "07c631c0bcb0cb49",
        "name": "",
        "props": [
            {
                "p": "reset",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 1040,
        "wires": [
            [
                "148f1a5e373fe1c7"
            ]
        ]
    },
    {
        "id": "cb74fe47e2ed9e7b",
        "type": "trigger",
        "z": "07c631c0bcb0cb49",
        "name": "",
        "op1": "take picture",
        "op2": "set alarm",
        "op1type": "str",
        "op2type": "str",
        "duration": "-2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 620,
        "y": 1080,
        "wires": [
            [
                "b47adca1d8bad355"
            ]
        ]
    },
    {
        "id": "088d00a707f3938b",
        "type": "switch",
        "z": "07c631c0bcb0cb49",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "set alarm",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 1080,
        "wires": [
            [
                "cb74fe47e2ed9e7b"
            ]
        ]
    },
    {
        "id": "a8934b096edde16e",
        "type": "inject",
        "z": "07c631c0bcb0cb49",
        "name": "door unlocked",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "door unlocked",
        "payloadType": "str",
        "x": 170,
        "y": 1160,
        "wires": [
            [
                "81a9f01405193e4e"
            ]
        ]
    },
    {
        "id": "81a9f01405193e4e",
        "type": "change",
        "z": "07c631c0bcb0cb49",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1160,
        "wires": [
            [
                "cb74fe47e2ed9e7b"
            ]
        ]
    },
    {
        "id": "d42b3e7d46fa33e3",
        "type": "inject",
        "z": "07c631c0bcb0cb49",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1240,
        "wires": [
            [
                "fcb1ce39820c4707"
            ]
        ]
    },
    {
        "id": "fcb1ce39820c4707",
        "type": "delay",
        "z": "07c631c0bcb0cb49",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 1240,
        "wires": [
            [
                "523c57708d25ac45"
            ]
        ]
    },
    {
        "id": "523c57708d25ac45",
        "type": "debug",
        "z": "07c631c0bcb0cb49",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 1240,
        "wires": []
    },
    {
        "id": "550baef0dbc03dfd",
        "type": "delay",
        "z": "07c631c0bcb0cb49",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 1320,
        "wires": [
            [
                "c44a2028591af22b"
            ]
        ]
    },
    {
        "id": "4f12dc8eaf74345f",
        "type": "inject",
        "z": "07c631c0bcb0cb49",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1320,
        "wires": [
            [
                "550baef0dbc03dfd"
            ]
        ]
    },
    {
        "id": "c44a2028591af22b",
        "type": "debug",
        "z": "07c631c0bcb0cb49",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 1320,
        "wires": []
    }
]