LinkOutLinkINNodeRED.json
[
    {
        "id": "567ce3c5115074a0",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f6d8197fc71cffcf",
        "type": "inject",
        "z": "567ce3c5115074a0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "57a52e3d3ae560c3"
            ]
        ]
    },
    {
        "id": "6874d66e3bbd6546",
        "type": "function",
        "z": "567ce3c5115074a0",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 200,
        "wires": [
            [
                "63b680e34ccaf953"
            ]
        ]
    },
    {
        "id": "615ec67b5d0a129a",
        "type": "function",
        "z": "567ce3c5115074a0",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "8f92730588e36205",
        "type": "function",
        "z": "567ce3c5115074a0",
        "name": "function 3",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 320,
        "wires": [
            [
                "5de3d0dd73fb8b72"
            ]
        ]
    },
    {
        "id": "63b680e34ccaf953",
        "type": "function",
        "z": "567ce3c5115074a0",
        "name": "function 4",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 200,
        "wires": [
            [
                "67eb65030676e540"
            ]
        ]
    },
    {
        "id": "67eb65030676e540",
        "type": "function",
        "z": "567ce3c5115074a0",
        "name": "function 5",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "57a52e3d3ae560c3",
        "type": "link out",
        "z": "567ce3c5115074a0",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "be16e391d1a712bc"
        ],
        "x": 285,
        "y": 80,
        "wires": []
    },
    {
        "id": "be16e391d1a712bc",
        "type": "link in",
        "z": "567ce3c5115074a0",
        "name": "link in 1",
        "links": [
            "57a52e3d3ae560c3"
        ],
        "x": 105,
        "y": 260,
        "wires": [
            [
                "6874d66e3bbd6546",
                "615ec67b5d0a129a",
                "8f92730588e36205",
                "a5e6f009ae8227fc"
            ]
        ]
    },
    {
        "id": "a5e6f009ae8227fc",
        "type": "link call",
        "z": "567ce3c5115074a0",
        "name": "",
        "links": [
            "46a931e45d03d4fb"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 290,
        "y": 380,
        "wires": [
            [
                "3387f8e078172f84"
            ]
        ]
    },
    {
        "id": "5de3d0dd73fb8b72",
        "type": "debug",
        "z": "567ce3c5115074a0",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 320,
        "wires": []
    },
    {
        "id": "3387f8e078172f84",
        "type": "debug",
        "z": "567ce3c5115074a0",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 380,
        "wires": []
    }
]