PokeAPINode/PokeAPICompleto.json
[{"id":"2cb16533b25edc43","type":"tab","label":"CityWeather","disabled":false,"info":"","env":[]},{"id":"b73cd5fc80fd544d","type":"tab","label":"PokeAPI","disabled":false,"info":"","env":[]},{"id":"8a9e3983c9304228","type":"tab","label":"Endpoint HTTP","disabled":false,"info":"","env":[]},{"id":"e54989fb573c72a6","type":"subflow","name":"Tratamento Vazio","info":"","category":"","in":[{"x":180,"y":100,"wires":[{"id":"8b5c8d7caca72b0b"}]}],"out":[{"x":860,"y":60,"wires":[{"id":"c75cbbe699246ce1","port":0}]},{"x":860,"y":140,"wires":[{"id":"9883f25eb6d18ad9","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"ae33b3e83795bc6c","type":"subflow","name":"Salvando Pokemon Banco","info":"","category":"","in":[],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"68f398baca6b5227","type":"group","z":"2cb16533b25edc43","name":"Exibição Gráfico","style":{"stroke":"#3f93cf","label":true,"color":"#000000","fill":"#bfdbef"},"nodes":["e4d895f24fef1b3c","0af265cdc0020c8b","d0cffd6d22afe113"],"x":164,"y":419,"w":362,"h":142},{"id":"94eb41a5def41cd3","type":"group","z":"b73cd5fc80fd544d","name":"Tratamento dos dados","style":{"stroke":"#9363b7","label":true,"color":"#000000"},"nodes":["d6e40875774fb9bd","f099999c28259308","74037ea18d1131b3","ea0edb21b81edbf5","216edf70c21358f8","3d56752510304abd"],"x":44,"y":639,"w":522,"h":262},{"id":"654dd6f14eea3a98","type":"group","z":"b73cd5fc80fd544d","name":"Tratamento Catch","style":{"stroke":"#ffbfbf","label":true,"color":"#ff7f7f"},"nodes":["1f7a4c6c526391a8","51f178fa23e52b98"],"x":54,"y":1819,"w":352,"h":82},{"id":"e32ddd2f1a5f4a68","type":"group","z":"b73cd5fc80fd544d","name":"Retorno Dados","style":{"stroke":"#9363b7","label":true,"color":"#000000"},"nodes":["4c769681b85a9dee","4ce133cc0d6cd6c8","96516d27abe4dcd8","b5be69334b1e76e0","899a5662b6a4f700","cb22b50b816a6d51","4a3e76a01653aa69","d4c4e8c9115f02bb","627710d2a40c8eff","567b8a72ae428ae4","6b9a10ef05ab5215","3d0b0bb8ed6f142a","229ce8f524c1234e","7095b19354206efb"],"x":44,"y":939,"w":1102,"h":302},{"id":"53a92d4c040b94e0","type":"group","z":"b73cd5fc80fd544d","name":"Requisições API","style":{"stroke":"#3f93cf","label":true,"color":"#001f60"},"nodes":["29f1045457735d11","900e67a5ae2fc051","db5db7d6de387b90","a4d83422d75562c9","78114a4f4573b477","fcfc6666f341b2e8","f963dd8d51b8c62d","fa816fe16bec2f43","3cac51fdb58be187","0c7a5199f401d2dc"],"x":44,"y":99,"w":602,"h":302},{"id":"5005a64284397b18","type":"group","z":"b73cd5fc80fd544d","name":"Preparando Requisição","style":{"stroke":"#9363b7","label":true,"color":"#000000"},"nodes":["e252230975ecb5f8","7d504f68c748f8a4","2e33c264d3136234","627b1afc0cba400d","dbb5ee5cde83c6c0","068fd4a984ac355f","7030b1b82b1e78c8"],"x":44,"y":419,"w":602,"h":222},{"id":"67edabf17ac08cd9","type":"group","z":"b73cd5fc80fd544d","name":"Definindo Global ","style":{"stroke":"#ffbfbf","label":true,"color":"#000000"},"nodes":["c1a4fd9c38c8d95c","b74803248d9db400"],"x":54,"y":1939,"w":472,"h":82},{"id":"3c2a96678d7f40f3","type":"group","z":"b73cd5fc80fd544d","name":"Dashboard","style":{"stroke":"#0070c0","label":true,"color":"#000000"},"nodes":["99805b9501b567c1","3cc438227e70d7d5","c6c67c22c285b8ee","2e822bcde532e20b"],"x":48,"y":1273,"w":424,"h":514},{"id":"99805b9501b567c1","type":"group","z":"b73cd5fc80fd544d","g":"3c2a96678d7f40f3","name":"Formulário","style":{"stroke":"#3f93cf","label":true,"color":"#001f60"},"nodes":["d4d509e59ce4d96e","38c674a5eac96a34","7d1f641ed63a1567"],"x":74,"y":1299,"w":342,"h":122},{"id":"3cc438227e70d7d5","type":"group","z":"b73cd5fc80fd544d","g":"3c2a96678d7f40f3","name":"Exibindo Pokémon","style":{"stroke":"#9363b7","label":true,"color":"#000000"},"nodes":["cfd176eac57a3ee5","0bb8c5b5c80004f5"],"x":84,"y":1439,"w":282,"h":82},{"id":"c6c67c22c285b8ee","type":"group","z":"b73cd5fc80fd544d","g":"3c2a96678d7f40f3","name":"Exibindo Lista Pokémon","style":{"stroke":"#9363b7","label":true,"color":"#000000"},"nodes":["7e6f56d00e92dfa2","907de5d30e8da132"],"x":84,"y":1559,"w":362,"h":82},{"id":"2e822bcde532e20b","type":"group","z":"b73cd5fc80fd544d","g":"3c2a96678d7f40f3","name":"Exibindo Gráfico Stats","style":{"stroke":"#9363b7","label":true,"color":"#000000"},"nodes":["d4c2f2a6e08a8c12","f2615ccb11c150bc"],"x":84,"y":1679,"w":362,"h":82},{"id":"c2320996feba0dad","type":"ui_tab","name":"ui_tab.label.GetCidade","icon":"dashboard","disabled":false,"hidden":false},{"id":"c1eb1a6fae13b43f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"710bc73b3b2077fc","type":"ui_group","name":"ui_group.label.getCidade","tab":"c2320996feba0dad","order":1,"disp":true,"width":11,"collapse":false,"className":""},{"id":"837d09a99a68a416","type":"ui_spacer","z":"2cb16533b25edc43","name":"spacer","group":"710bc73b3b2077fc","order":3,"width":4,"height":1},{"id":"9defade0ad3ba6f4","type":"ui_tab","name":"PokeAPI","icon":"dashboard","disabled":false,"hidden":false},{"id":"b0ecd309f87e02ee","type":"ui_group","name":"PokeAPI","tab":"9defade0ad3ba6f4","order":1,"disp":true,"width":20,"collapse":false,"className":""},{"id":"9152da40f5dd0cab","type":"sqlitedb","z":"ae33b3e83795bc6c","db":"./sqlite/pokemonAPI.db","mode":"RWC"},{"id":"ec1f6973e851577f","type":"mongodb4-client","z":"ae33b3e83795bc6c","name":"","protocol":"mongodb","hostname":"localhost","port":"27017","dbName":"pokemonAPI","appName":"","authSource":"","authMechanism":"DEFAULT","tls":false,"tlsCAFile":"","tlsCertificateKeyFile":"","tlsInsecure":false,"connectTimeoutMS":"30000","socketTimeoutMS":"0","minPoolSize":"0","maxPoolSize":"100","maxIdleTimeMS":"0","uri":"mongodb://localhost:27017/pokemonAPI","advanced":"{}","uriTabActive":"tab-uri-advanced"},{"id":"7f751e9bd80dbf84","type":"mongodb4-client","name":"","protocol":"mongodb","hostname":"localhost","port":"27017","dbName":"pokemonAPI","appName":"","authSource":"","authMechanism":"DEFAULT","tls":false,"tlsCAFile":"","tlsCertificateKeyFile":"","tlsInsecure":false,"connectTimeoutMS":"30000","socketTimeoutMS":"0","minPoolSize":"0","maxPoolSize":"100","maxIdleTimeMS":"0","uri":"mongodb://localhost:27017/pokemonAPI","advanced":"{}","uriTabActive":"tab-uri-advanced"},{"id":"mongodb-client","type":"mongodb4-client","name":"MongoDB Local","protocol":"mongodb","hostname":"localhost","port":"27017","dbName":"pokemonAPI","appName":"","authSource":"","authMechanism":"DEFAULT","tls":false,"tlsCAFile":"","tlsCertificateKeyFile":"","tlsInsecure":false,"connectTimeoutMS":"30000","socketTimeoutMS":"0","minPoolSize":"0","maxPoolSize":"100","maxIdleTimeMS":"0","uri":"mongodb://localhost:27017/pokemonAPI","advanced":"{}","uriTabActive":"tab-uri-advanced"},{"id":"b4643e9cea7a9709","type":"sqlitedb","db":"/data/pokemonAPI.db","mode":"RWC"},{"id":"4632b8a6be28e2c3","type":"ui_spacer","z":"b73cd5fc80fd544d","name":"spacer","group":"b0ecd309f87e02ee","order":4,"width":2,"height":1},{"id":"a961a832a74df6fd","type":"ui_spacer","z":"b73cd5fc80fd544d","name":"spacer","group":"b0ecd309f87e02ee","order":5,"width":2,"height":1},{"id":"97da735c3076512b","type":"ui_spacer","z":"b73cd5fc80fd544d","name":"spacer","group":"b0ecd309f87e02ee","order":6,"width":2,"height":1},{"id":"1abca2392f462b2e","type":"ui_spacer","z":"b73cd5fc80fd544d","name":"spacer","group":"b0ecd309f87e02ee","order":7,"width":2,"height":1},{"id":"924c4ad85e2e13a7","type":"ui_spacer","z":"b73cd5fc80fd544d","name":"spacer","group":"b0ecd309f87e02ee","order":8,"width":2,"height":1},{"id":"1cdf43565a0b19fe","type":"ui_spacer","z":"b73cd5fc80fd544d","name":"spacer","group":"b0ecd309f87e02ee","order":9,"width":2,"height":1},{"id":"a324b59c723c6e11","type":"ui_spacer","z":"b73cd5fc80fd544d","name":"spacer","group":"b0ecd309f87e02ee","order":10,"width":2,"height":1},{"id":"f042d2c086584bf9","type":"ui_spacer","z":"b73cd5fc80fd544d","name":"spacer","group":"b0ecd309f87e02ee","order":12,"width":11,"height":1},{"id":"2150997dc4d68bdf","type":"ui_spacer","z":"b73cd5fc80fd544d","name":"spacer","group":"b0ecd309f87e02ee","order":13,"width":11,"height":1},{"id":"fa7ca1db343d4717","type":"ui_spacer","z":"b73cd5fc80fd544d","name":"spacer","group":"b0ecd309f87e02ee","order":14,"width":11,"height":1},{"id":"4747fde15eb65a21","type":"ui_spacer","z":"b73cd5fc80fd544d","name":"spacer","group":"b0ecd309f87e02ee","order":15,"width":11,"height":1},{"id":"70f8800d6840aeb7","type":"ui_spacer","z":"b73cd5fc80fd544d","name":"spacer","group":"b0ecd309f87e02ee","order":16,"width":11,"height":1},{"id":"5faa167f70af08ae","type":"ui_spacer","z":"b73cd5fc80fd544d","name":"spacer","group":"b0ecd309f87e02ee","order":17,"width":11,"height":1},{"id":"9565eae3da043e89","type":"ui_spacer","z":"b73cd5fc80fd544d","name":"spacer","group":"b0ecd309f87e02ee","order":18,"width":11,"height":1},{"id":"1317acf20b89e79c","type":"ui_spacer","z":"b73cd5fc80fd544d","name":"spacer","group":"b0ecd309f87e02ee","order":19,"width":11,"height":1},{"id":"d77b7dc61725e881","type":"ui_spacer","z":"b73cd5fc80fd544d","name":"spacer","group":"b0ecd309f87e02ee","order":20,"width":11,"height":1},{"id":"8b5c8d7caca72b0b","type":"switch","z":"e54989fb573c72a6","name":"VerificaVazio","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":100,"wires":[["3c3a2e1f32fa4730"],["5df4e12c843d0951"]]},{"id":"5df4e12c843d0951","type":"change","z":"e54989fb573c72a6","name":"Mensagem Erro","rules":[{"t":"set","p":"payload","pt":"msg","to":"CIdade não localizada","tot":"str"},{"t":"set","p":"logError","pt":"msg","to":"Bounding box não encontrado no payload.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":140,"wires":[["aed4dd790b39a0c7"]]},{"id":"3c3a2e1f32fa4730","type":"link out","z":"e54989fb573c72a6","name":"LinkOutTratamentoSucesso","mode":"link","links":["c75cbbe699246ce1"],"x":445,"y":60,"wires":[]},{"id":"c75cbbe699246ce1","type":"link in","z":"e54989fb573c72a6","name":"LinkInTratamentoSucesso","links":["3c3a2e1f32fa4730"],"x":785,"y":60,"wires":[[]]},{"id":"aed4dd790b39a0c7","type":"link out","z":"e54989fb573c72a6","name":"LinkOutTratamentoErro","mode":"link","links":["9883f25eb6d18ad9"],"x":655,"y":140,"wires":[]},{"id":"9883f25eb6d18ad9","type":"link in","z":"e54989fb573c72a6","name":"LinkInTratamentoErro","links":["aed4dd790b39a0c7"],"x":785,"y":140,"wires":[[]]},{"id":"ba9b9955538eb9a7","type":"function","z":"ae33b3e83795bc6c","name":"Função procurar nome","func":"// Define caminho do arquivo\nmsg.filename = \"./pokemons.json\";\n\n// Se não enviar payload, inicializa lista vazia\nif (!msg.payload || typeof msg.payload !== 'object') {\n    msg.payload = [];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":360,"wires":[["3ac72416f1de92b5"]]},{"id":"3ac72416f1de92b5","type":"file in","z":"ae33b3e83795bc6c","name":"","filename":"filename","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":480,"y":360,"wires":[["5fbeb33ecfa92d03"]]},{"id":"5fbeb33ecfa92d03","type":"function","z":"ae33b3e83795bc6c","name":"Parser arquivo JSON","func":"try {\n    if (msg.payload) {\n        msg.payload = JSON.parse(msg.payload);\n    } else {\n        msg.payload = [];\n    }\n} catch(e) {\n    msg.payload = [];\n}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":360,"wires":[["4ef683012fe11f39"]]},{"id":"4ef683012fe11f39","type":"switch","z":"ae33b3e83795bc6c","name":"Verifica Existência","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$count(payload[nome = $.nome]) > 0","vt":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":360,"wires":[["34262f36ad05d274"],["fe103509e8a51092"]]},{"id":"34262f36ad05d274","type":"function","z":"ae33b3e83795bc6c","name":"Função editar file","func":"// Atualiza o Pokémon existente\nvar pokemons = msg.payload;\nvar novoPokemon = msg.originalPayload;\n\nfor (var i=0; i<pokemons.length; i++) {\n    if (pokemons[i].nome === novoPokemon.nome) {\n        pokemons[i] = novoPokemon;\n        break;\n    }\n}\nmsg.payload = JSON.stringify(pokemons, null, 2);\nmsg.filename = \"./pokemons.json\";\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":300,"wires":[["3e9c4f39342af9c8"]]},{"id":"fe103509e8a51092","type":"function","z":"ae33b3e83795bc6c","name":"Função adicionar file","func":"// Adiciona novo Pokémon ao array\nvar pokemons = msg.payload;\nvar novoPokemon = msg.originalPayload;\n\npokemons.push(novoPokemon);\nmsg.payload = JSON.stringify(pokemons, null, 2);\nmsg.filename = \"./pokemons.json\";\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":420,"wires":[["3e9c4f39342af9c8"]]},{"id":"3e9c4f39342af9c8","type":"file","z":"ae33b3e83795bc6c","name":"Salvar JSON em arquivo","filename":"filename","filenameType":"msg","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"utf8","x":1390,"y":360,"wires":[[]]},{"id":"1fa585fa3dc82983","type":"inject","z":"ae33b3e83795bc6c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"nome\":\"Charmander\",\"numero_pokedex\":4,\"qtd_pesquisas\":1,\"favorito\":0}","payloadType":"json","x":70,"y":360,"wires":[["ba9b9955538eb9a7"]]},{"id":"368bf0ad4bf9f8c2","type":"http request","z":"2cb16533b25edc43","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://nominatim.openstreetmap.org/search?city={{payload.cidade}}&state={{payload.estado}}&format=json","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":330,"y":80,"wires":[["8af7ebd82d11a091"]]},{"id":"734f12184244539e","type":"ui_form","z":"2cb16533b25edc43","name":"","label":"","group":"710bc73b3b2077fc","order":1,"width":0,"height":0,"options":[{"label":"Cidade","value":"cidade","type":"text","required":true,"rows":null},{"label":"Estado","value":"estado","type":"text","required":true,"rows":null}],"formValue":{"cidade":"","estado":""},"payload":"","submit":"Enviar","cancel":"Cancelar","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":150,"y":80,"wires":[["368bf0ad4bf9f8c2"]]},{"id":"d7e8f682a7fc54d5","type":"switch","z":"2cb16533b25edc43","name":"VerificaVazio","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":220,"y":200,"wires":[["b82623080a84ceea"],["d61384de60f00861"]]},{"id":"d61384de60f00861","type":"change","z":"2cb16533b25edc43","name":"Mensagem Erro","rules":[{"t":"set","p":"payload","pt":"msg","to":"CIdade não localizada","tot":"str"},{"t":"set","p":"logError","pt":"msg","to":"Bounding box não encontrado no payload.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":240,"wires":[["c2dcb27ebc9aa2b6","304a175e21e596d1"]]},{"id":"8af7ebd82d11a091","type":"link out","z":"2cb16533b25edc43","name":"LinkOutRequest","mode":"link","links":["745d8efa9d7984b6"],"x":535,"y":80,"wires":[]},{"id":"745d8efa9d7984b6","type":"link in","z":"2cb16533b25edc43","name":"LinkInRequest","links":["8af7ebd82d11a091"],"x":85,"y":200,"wires":[["d7e8f682a7fc54d5"]]},{"id":"c2dcb27ebc9aa2b6","type":"event-logger","z":"2cb16533b25edc43","name":"","eventLevel":"error","eventType":"ErroBuscaLocalizaCidade","path":"logError","pathType":"msg","templateValue":"This is a log message content: {{msg.payload}}","l":false,"x":575,"y":280,"wires":[]},{"id":"304a175e21e596d1","type":"ui_toast","z":"2cb16533b25edc43","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"msg.payload","name":"Erro Localização","x":650,"y":240,"wires":[]},{"id":"b82623080a84ceea","type":"change","z":"2cb16533b25edc43","name":"Filtrando Necessário","rules":[{"t":"set","p":"latitude","pt":"msg","to":"payload[0].lat","tot":"msg"},{"t":"set","p":"longitude","pt":"msg","to":"payload[0].lon","tot":"msg"},{"t":"set","p":"subtitle","pt":"msg","to":"payload[0].display_name","tot":"msg"},{"t":"set","p":"name","pt":"msg","to":"\"Variação de temperatura em \" & payload[0].name","tot":"jsonata"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":160,"wires":[["5c02c0e1d61cdcf4"]]},{"id":"5c02c0e1d61cdcf4","type":"link out","z":"2cb16533b25edc43","name":"LinkOutCidEst","mode":"link","links":["2ba352ecb1ab3579"],"x":575,"y":160,"wires":[]},{"id":"2ba352ecb1ab3579","type":"link in","z":"2cb16533b25edc43","name":"LinkInCidEst","links":["5c02c0e1d61cdcf4"],"x":105,"y":360,"wires":[["6ad842175c09a89f"]]},{"id":"6ad842175c09a89f","type":"http request","z":"2cb16533b25edc43","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.open-meteo.com/v1/forecast?latitude={{latitude}}&longitude={{longitude}}&hourly=temperature_2m,precipitation_probability","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":230,"y":360,"wires":[["27558384a8c34049"]]},{"id":"27558384a8c34049","type":"function","z":"2cb16533b25edc43","name":"Função Tempo e Temperatura","func":"const temperatures = msg.payload.hourly.temperature_2m;\nconst precipitationProbability = msg.payload.hourly.precipitation_probability;\nconst times = msg.payload.hourly.time;\n\nconst temperaturePoints = times.map((time, index) => ({\n    x: time,\n    y: temperatures[index]\n}));\n\nconst precipitationPoints = times.map((time, index) => ({\n    x: time,\n    y: precipitationProbability[index]\n}));\n\nmsg.payload = [\n    {\n        series: [\"Temperatura\", \"Probabilidade de Chuva\"],\n        data: [temperaturePoints, precipitationPoints],\n        labels: times\n    }\n];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":360,"wires":[["891858583faaf1aa"]]},{"id":"891858583faaf1aa","type":"link out","z":"2cb16533b25edc43","name":"LinkOutForms","mode":"link","links":["4e1ffc07139311d2"],"x":685,"y":360,"wires":[]},{"id":"e4d895f24fef1b3c","type":"ui_chart","z":"2cb16533b25edc43","g":"68f398baca6b5227","name":"","group":"710bc73b3b2077fc","order":5,"width":0,"height":0,"label":"Gráfico CIdade","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":240,"y":460,"wires":[["0af265cdc0020c8b","d0cffd6d22afe113"]]},{"id":"4e1ffc07139311d2","type":"link in","z":"2cb16533b25edc43","name":"LinkInForms","links":["891858583faaf1aa"],"x":105,"y":460,"wires":[["e4d895f24fef1b3c"]]},{"id":"0af265cdc0020c8b","type":"ui_text","z":"2cb16533b25edc43","g":"68f398baca6b5227","group":"710bc73b3b2077fc","order":2,"width":7,"height":1,"name":"","label":"Cidade","format":"{{msg.name}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":420,"y":460,"wires":[]},{"id":"d0cffd6d22afe113","type":"ui_text","z":"2cb16533b25edc43","g":"68f398baca6b5227","group":"710bc73b3b2077fc","order":4,"width":11,"height":2,"name":"","label":"Descrição Cidade","format":"{{msg.subtitle}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":450,"y":520,"wires":[]},{"id":"fdb35407fef2acad","type":"comment","z":"2cb16533b25edc43","name":"Request CIdade/Estado","info":"","x":290,"y":40,"wires":[]},{"id":"8ee28e5aec770599","type":"comment","z":"2cb16533b25edc43","name":"Request Temperatura","info":"","x":200,"y":320,"wires":[]},{"id":"29f1045457735d11","type":"http request","z":"b73cd5fc80fd544d","g":"53a92d4c040b94e0","name":"Busca dados do Pokémon","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":260,"y":320,"wires":[["f963dd8d51b8c62d","fa816fe16bec2f43"]]},{"id":"1f7a4c6c526391a8","type":"catch","z":"b73cd5fc80fd544d","g":"654dd6f14eea3a98","name":"","scope":null,"uncaught":false,"x":140,"y":1860,"wires":[["51f178fa23e52b98"]]},{"id":"51f178fa23e52b98","type":"debug","z":"b73cd5fc80fd544d","g":"654dd6f14eea3a98","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":300,"y":1860,"wires":[]},{"id":"d6e40875774fb9bd","type":"link in","z":"b73cd5fc80fd544d","g":"94eb41a5def41cd3","name":"LinkInTratamento","links":["db5db7d6de387b90"],"x":85,"y":760,"wires":[["f099999c28259308"]]},{"id":"900e67a5ae2fc051","type":"http request","z":"b73cd5fc80fd544d","g":"53a92d4c040b94e0","name":"Puxando PokeAPI","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":230,"y":180,"wires":[["db5db7d6de387b90","3cac51fdb58be187"]]},{"id":"db5db7d6de387b90","type":"link out","z":"b73cd5fc80fd544d","g":"53a92d4c040b94e0","name":"LinkOutAPI","mode":"link","links":["d6e40875774fb9bd"],"x":375,"y":180,"wires":[]},{"id":"a4d83422d75562c9","type":"comment","z":"b73cd5fc80fd544d","g":"53a92d4c040b94e0","name":"Tratamento de dados ->","info":"","x":450,"y":140,"wires":[]},{"id":"78114a4f4573b477","type":"link in","z":"b73cd5fc80fd544d","g":"53a92d4c040b94e0","name":"LinkInRequest","links":["cb22b50b816a6d51"],"x":85,"y":320,"wires":[["29f1045457735d11"]]},{"id":"d4d509e59ce4d96e","type":"link out","z":"b73cd5fc80fd544d","g":"99805b9501b567c1","name":"LinkOutForms","mode":"link","links":["e252230975ecb5f8"],"x":365,"y":1380,"wires":[]},{"id":"fcfc6666f341b2e8","type":"link in","z":"b73cd5fc80fd544d","g":"53a92d4c040b94e0","name":"LinkInAPI","links":["2e33c264d3136234"],"x":85,"y":180,"wires":[["900e67a5ae2fc051"]]},{"id":"38c674a5eac96a34","type":"comment","z":"b73cd5fc80fd544d","g":"99805b9501b567c1","name":"Preparando Requisição ->","info":"","x":280,"y":1340,"wires":[]},{"id":"f963dd8d51b8c62d","type":"debug","z":"b73cd5fc80fd544d","g":"53a92d4c040b94e0","name":"Retorno Request 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":360,"wires":[]},{"id":"e252230975ecb5f8","type":"link in","z":"b73cd5fc80fd544d","g":"5005a64284397b18","name":"LinkInPreparandoRequisição","links":["d4d509e59ce4d96e"],"x":85,"y":560,"wires":[["7d504f68c748f8a4"]]},{"id":"7d504f68c748f8a4","type":"function","z":"b73cd5fc80fd544d","g":"5005a64284397b18","name":"Define URL e tipo","func":"const tipoMap = global.get(\"tipoMapPTtoEN\");\n\nfunction removerAcentos(str) {\n    return str\n        .normalize(\"NFD\")\n        .replace(/[\\u0300-\\u036f]/g, \"\")\n        .replace(/ç/g, \"c\")\n        .toLowerCase();\n}\n\nlet msgSucesso = {};\nlet msgErro = {};\nmsg.mostrarResultado = false; \n\nconst { name, id, type } = msg.payload;\n\nif (name && name.trim() !== \"\") {\n    msgSucesso.topic = \"pokemon\";\n    msgSucesso.pokeUrl = `https://pokeapi.co/api/v2/pokemon/${removerAcentos(name)}`;\n    msgSucesso.mostrarResultado = true;\n    return [msgSucesso, null];\n} else if (id && id.trim() !== \"\") {\n    msgSucesso.topic = \"pokemon\";\n    msgSucesso.pokeUrl = `https://pokeapi.co/api/v2/pokemon/${id}`;\n    msgSucesso.mostrarResultado = true;\n    return [msgSucesso, null];\n} else if (type && type.trim() !== \"\") {\n    let tipoNormalizado = removerAcentos(type);\n    let tipoIngles = tipoMap[tipoNormalizado];\n    if (!tipoIngles) {\n        msgErro.payload = \"Tipo não reconhecido. Use um tipo válido em português.\";\n        msgErro.logError = `Tipo inválido enviado: ${type}`;\n        msgErro.mostrarResultado = true;\n        return [null, msgErro];\n    }\n    msgSucesso.topic = \"type\";\n    msgSucesso.pokeUrl = `https://pokeapi.co/api/v2/type/${tipoIngles}`;\n    msgSucesso.mostrarResultado = true;\n    return [msgSucesso, null];\n} else {\n    msgErro.payload = \"Preencha pelo menos um campo.\";\n    msgErro.logError = \"Nenhum campo preenchido.\";\n    msgErro.mostrarResultado = true;\n    return [null, msgErro];\n}\n","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":560,"wires":[["627b1afc0cba400d","068fd4a984ac355f"],["7030b1b82b1e78c8"]]},{"id":"2e33c264d3136234","type":"link out","z":"b73cd5fc80fd544d","g":"5005a64284397b18","name":"LinkOutPreparandoRequisição","mode":"link","links":["fcfc6666f341b2e8"],"x":585,"y":520,"wires":[]},{"id":"4c769681b85a9dee","type":"link in","z":"b73cd5fc80fd544d","g":"e32ddd2f1a5f4a68","name":"LinkInRetorno","links":["ea0edb21b81edbf5"],"x":85,"y":1060,"wires":[["4ce133cc0d6cd6c8"]]},{"id":"4ce133cc0d6cd6c8","type":"switch","z":"b73cd5fc80fd544d","g":"e32ddd2f1a5f4a68","name":"Verifica tipo de busca","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"pokemon","vt":"str"},{"t":"eq","v":"type","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":240,"y":1060,"wires":[["229ce8f524c1234e"],["96516d27abe4dcd8"]]},{"id":"f099999c28259308","type":"subflow:e54989fb573c72a6","z":"b73cd5fc80fd544d","g":"94eb41a5def41cd3","name":"Tratamento Vazio","x":230,"y":760,"wires":[["ea0edb21b81edbf5"],["74037ea18d1131b3","216edf70c21358f8"]]},{"id":"74037ea18d1131b3","type":"event-logger","z":"b73cd5fc80fd544d","g":"94eb41a5def41cd3","name":"","eventLevel":"error","eventType":"requisicao-tratamento-finalizada","path":"payload","pathType":"template","templateValue":"Valor vazio detectado no payload.","l":false,"x":375,"y":860,"wires":[]},{"id":"ea0edb21b81edbf5","type":"link out","z":"b73cd5fc80fd544d","g":"94eb41a5def41cd3","name":"LinkOutTratamentoDados","mode":"link","links":["4c769681b85a9dee"],"x":375,"y":720,"wires":[]},{"id":"216edf70c21358f8","type":"ui_toast","z":"b73cd5fc80fd544d","g":"94eb41a5def41cd3","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"msg.payload","name":"Erro Retorno Vazio","x":450,"y":800,"wires":[]},{"id":"96516d27abe4dcd8","type":"function","z":"b73cd5fc80fd544d","g":"e32ddd2f1a5f4a68","name":"Extrai e limita lista de tipo","func":"let limite = 30;\n\nif (msg.payload && msg.payload.pokemon) {\n    let pokemons = msg.payload.pokemon.map(p => p.pokemon);\n    msg.payload = pokemons.slice(0, limite);\n} else {\n    msg.payload = [];\n}\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1100,"wires":[["b5be69334b1e76e0"]]},{"id":"b5be69334b1e76e0","type":"split","z":"b73cd5fc80fd544d","g":"e32ddd2f1a5f4a68","name":"Split por Pokémon","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":750,"y":1100,"wires":[["899a5662b6a4f700"]]},{"id":"899a5662b6a4f700","type":"change","z":"b73cd5fc80fd544d","g":"e32ddd2f1a5f4a68","name":"Set msg.url","rules":[{"t":"set","p":"url","pt":"msg","to":"payload.url","tot":"msg"}],"x":950,"y":1100,"wires":[["cb22b50b816a6d51"]]},{"id":"cb22b50b816a6d51","type":"link out","z":"b73cd5fc80fd544d","g":"e32ddd2f1a5f4a68","name":"LinkOutRetornoDados","mode":"link","links":["78114a4f4573b477"],"x":1075,"y":1100,"wires":[]},{"id":"fa816fe16bec2f43","type":"link out","z":"b73cd5fc80fd544d","g":"53a92d4c040b94e0","name":"LinkOutRequest","mode":"link","links":["4a3e76a01653aa69"],"x":435,"y":320,"wires":[]},{"id":"3cac51fdb58be187","type":"debug","z":"b73cd5fc80fd544d","g":"53a92d4c040b94e0","name":"Retorno Request","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":220,"wires":[]},{"id":"4a3e76a01653aa69","type":"link in","z":"b73cd5fc80fd544d","g":"e32ddd2f1a5f4a68","name":"LinkInRetornoDados2","links":["fa816fe16bec2f43"],"x":85,"y":1200,"wires":[["d4c4e8c9115f02bb"]]},{"id":"d4c4e8c9115f02bb","type":"join","z":"b73cd5fc80fd544d","g":"e32ddd2f1a5f4a68","name":"Recompõe lista","mode":"auto","build":"array","property":"payload","propertyType":"msg","useparts":true,"x":220,"y":1200,"wires":[["7095b19354206efb"]]},{"id":"627b1afc0cba400d","type":"change","z":"b73cd5fc80fd544d","g":"5005a64284397b18","name":"Setando pokeUrl","rules":[{"t":"set","p":"url","pt":"msg","to":"pokeUrl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":520,"wires":[["2e33c264d3136234"]]},{"id":"7d1f641ed63a1567","type":"ui_form","z":"b73cd5fc80fd544d","g":"99805b9501b567c1","name":"Formulário Pokémon","label":"Buscar Pokémon","group":"b0ecd309f87e02ee","order":1,"width":0,"height":0,"options":[{"label":"Nome","value":"name","type":"text","required":false,"rows":null},{"label":"Número Pokédex","value":"id","type":"text","required":false,"rows":null},{"label":"Tipo","value":"type","type":"text","required":false,"rows":null}],"formValue":{"name":"","id":"","type":""},"payload":"","submit":"Buscar","cancel":"Cancelar","topic":"form","topicType":"str","splitLayout":false,"className":"","x":200,"y":1380,"wires":[["d4d509e59ce4d96e"]]},{"id":"0c7a5199f401d2dc","type":"comment","z":"b73cd5fc80fd544d","g":"53a92d4c040b94e0","name":"Retorno Dados ->","info":"","x":410,"y":280,"wires":[]},{"id":"dbb5ee5cde83c6c0","type":"comment","z":"b73cd5fc80fd544d","g":"5005a64284397b18","name":"1° Requisição API ->","info":"","x":520,"y":480,"wires":[]},{"id":"3d56752510304abd","type":"comment","z":"b73cd5fc80fd544d","g":"94eb41a5def41cd3","name":"Retorno Dados ->","info":"","x":310,"y":680,"wires":[]},{"id":"627710d2a40c8eff","type":"comment","z":"b73cd5fc80fd544d","g":"e32ddd2f1a5f4a68","name":"2ª Requisição API -> ","info":"","x":1020,"y":1060,"wires":[]},{"id":"567b8a72ae428ae4","type":"link out","z":"b73cd5fc80fd544d","g":"e32ddd2f1a5f4a68","name":"LinkOutRetornoPokeId","mode":"link","links":["cfd176eac57a3ee5","f2615ccb11c150bc"],"x":615,"y":1020,"wires":[]},{"id":"6b9a10ef05ab5215","type":"comment","z":"b73cd5fc80fd544d","g":"e32ddd2f1a5f4a68","name":"Dashboard (Exibindo Pokémon) -> ","info":"","x":300,"y":980,"wires":[]},{"id":"cfd176eac57a3ee5","type":"link in","z":"b73cd5fc80fd544d","g":"3cc438227e70d7d5","name":"LinkInExibindoPokemon","links":["567b8a72ae428ae4"],"x":125,"y":1480,"wires":[["0bb8c5b5c80004f5"]]},{"id":"7e6f56d00e92dfa2","type":"link in","z":"b73cd5fc80fd544d","g":"c6c67c22c285b8ee","name":"LinkInExibindoLista","links":["3d0b0bb8ed6f142a"],"x":125,"y":1600,"wires":[["907de5d30e8da132"]]},{"id":"3d0b0bb8ed6f142a","type":"link out","z":"b73cd5fc80fd544d","g":"e32ddd2f1a5f4a68","name":"LinkOutRetornoLista","mode":"link","links":["7e6f56d00e92dfa2"],"x":585,"y":1200,"wires":[]},{"id":"229ce8f524c1234e","type":"function","z":"b73cd5fc80fd544d","g":"e32ddd2f1a5f4a68","name":"Ajusta Tradução","func":"// Pega o mapa global EN -> PT\nconst tipoMap = global.get(\"tipoMapENtoPT\");\n\nif (msg.payload && msg.payload.types) {\n    msg.payload.typesPT = msg.payload.types\n        .map(t => tipoMap[t.type.name] || t.type.name)\n        .join(', ');\n}\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":1020,"wires":[["567b8a72ae428ae4"]]},{"id":"7095b19354206efb","type":"function","z":"b73cd5fc80fd544d","g":"e32ddd2f1a5f4a68","name":"Ajusta Tradução Lista","func":"// Pega o mapa global EN -> PT\nconst tipoMap = global.get(\"tipoMapENtoPT\");\n\nif (Array.isArray(msg.payload)) {\n    msg.payload.forEach(p => {\n        p.typesPT = p.types.map(t => tipoMap[t.type.name] || t.type.name).join(', ');\n    });\n}\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":1200,"wires":[["3d0b0bb8ed6f142a"]]},{"id":"c1a4fd9c38c8d95c","type":"inject","z":"b73cd5fc80fd544d","g":"67edabf17ac08cd9","name":"Inserir Globais","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":1980,"wires":[["b74803248d9db400"]]},{"id":"b74803248d9db400","type":"function","z":"b73cd5fc80fd544d","g":"67edabf17ac08cd9","name":"Traduzindo EN -> PT","func":"\n// Define mapa global de tipos PT -> EN\nglobal.set(\"tipoMapPTtoEN\", {\n    \"fogo\": \"fire\",\n    \"agua\": \"water\",\n    \"planta\": \"grass\",\n    \"terra\": \"ground\",\n    \"eletrico\": \"electric\",\n    \"pedra\": \"rock\",\n    \"voador\": \"flying\",\n    \"psiquico\": \"psychic\",\n    \"fantasma\": \"ghost\",\n    \"gelo\": \"ice\",\n    \"lutador\": \"fighting\",\n    \"veneno\": \"poison\",\n    \"inseto\": \"bug\",\n    \"aço\": \"steel\",  \n    \"aco\": \"steel\",  \n    \"dragao\": \"dragon\",\n    \"sombrio\": \"dark\",\n    \"normal\": \"normal\",\n    \"fada\": \"fairy\"\n});\n\n\nreturn null;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1980,"wires":[[]]},{"id":"068fd4a984ac355f","type":"event-logger","z":"b73cd5fc80fd544d","g":"5005a64284397b18","name":"","eventLevel":"success","eventType":"sucesso-chamada-forms","path":"","pathType":"template","templateValue":"This is a log message content: {{msg.payload}}","l":false,"x":375,"y":460,"wires":[]},{"id":"7030b1b82b1e78c8","type":"event-logger","z":"b73cd5fc80fd544d","g":"5005a64284397b18","name":"","eventLevel":"error","eventType":"erro-chamada-forms","path":"","pathType":"template","templateValue":"This is a log message content: {{msg.payload}}","l":false,"x":375,"y":600,"wires":[]},{"id":"0bb8c5b5c80004f5","type":"ui_template","z":"b73cd5fc80fd544d","g":"3cc438227e70d7d5","group":"b0ecd309f87e02ee","name":"Exibe Pokémon","order":2,"width":9,"height":7,"format":"<div ng-if=\"msg.mostrarResultado\" style=\"text-align:center; padding:10px;\">\n  <h2>{{msg.payload.name | uppercase}}</h2>\n  <img src=\"{{msg.payload.sprites.front_default}}\" width=\"150\">\n  <p><b>N° Pokédex:</b> {{msg.payload.id}}</p>\n  <p><b>Altura:</b> {{msg.payload.height}}</p>\n  <p><b>Peso:</b> {{msg.payload.weight}}</p>\n  <p><b>Tipo(s):</b> {{msg.payload.typesPT}}</p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":260,"y":1480,"wires":[[]]},{"id":"907de5d30e8da132","type":"ui_template","z":"b73cd5fc80fd544d","g":"c6c67c22c285b8ee","group":"b0ecd309f87e02ee","name":"Lista de Pokémon por Tipo","order":11,"width":9,"height":9,"format":"<div ng-if=\"msg.mostrarResultado\">\n  <div ng-repeat=\"p in msg.payload\" style=\"border:1px solid #ddd; margin:5px; padding:10px; border-radius:8px;\">\n    <h3>{{p.name | uppercase}}</h3>\n    <img src=\"{{p.sprites.front_default}}\" width=\"100\">\n    <p><b>ID:</b> {{p.id}} | <b>Altura:</b> {{p.height}} | <b>Peso:</b> {{p.weight}}</p>\n    <p><b>Tipos:</b> {{p.typesPT}}</p>\n  </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":300,"y":1600,"wires":[[]]},{"id":"d4c2f2a6e08a8c12","type":"ui_template","z":"b73cd5fc80fd544d","g":"2e822bcde532e20b","group":"b0ecd309f87e02ee","name":"Gráfico de Stats Pokémon","order":3,"width":9,"height":7,"format":"<div style=\"text-align:center; padding:10px;\">\n    <h1>GRÁFICO STATS {{msg.payload.name | uppercase}}</h1>\n</div>\n<div style=\"padding:10px; display:flex; justify-content:center;\">\n    <canvas id=\"radarStats\" style=\"max-width: 400px; max-height: 400px;\"></canvas>\n</div>\n\n<script>\n    (function(scope){\n    scope.$watch('msg', function(msg){\n        if (!msg || !msg.payload || !msg.payload.stats) return;\n\n        var labels = ['hp','attack','defense','speed','special-defense','special-attack'];\n        var values = [];\n\n        var statOrder = ['hp','attack','defense','speed','special-defense','special-attack'];\n        statOrder.forEach(statName => {\n            let stat = msg.payload.stats.find(s => s.stat.name === statName);\n            values.push(stat ? stat.base_stat : 0);\n        });\n\n        var ctx = document.getElementById('radarStats').getContext('2d');\n\n        if (window.radarChart) {\n            window.radarChart.destroy();\n        }\n\n        window.radarChart = new Chart(ctx, {\n            type: 'radar',\n            data: {\n                labels: labels,\n                datasets: [{\n                    label: msg.payload.name.toUpperCase() + ' Base Stats',\n                    data: values,\n                    backgroundColor: 'rgba(54, 162, 235, 0.2)',\n                    borderColor: 'rgba(54, 162, 235, 1)',\n                    pointBackgroundColor: 'rgba(54, 162, 235, 1)'\n                }]\n            },\n            options: {\n                responsive: true,\n                maintainAspectRatio: false,\n                scales: {\n                    r: {\n                        beginAtZero: true,\n                        angleLines: { color: '#aaa' },\n                        pointLabels: { color: '#333', font: { size: 12 } },\n                        grid: { color: '#ccc' }\n                    }\n                }\n            }\n        });\n    });\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":300,"y":1720,"wires":[[]]},{"id":"f2615ccb11c150bc","type":"link in","z":"b73cd5fc80fd544d","g":"2e822bcde532e20b","name":"LinkInExibindoPokemon","links":["567b8a72ae428ae4"],"x":125,"y":1720,"wires":[["d4c2f2a6e08a8c12"]]},{"id":"2301b749a04a74de","type":"http in","z":"8a9e3983c9304228","name":"","url":"/ola","method":"post","upload":false,"swaggerDoc":"","x":180,"y":80,"wires":[["ecf18202f2eccf53","b6a506084ede6071"]]},{"id":"745edb9018aee5c7","type":"http response","z":"8a9e3983c9304228","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":550,"y":80,"wires":[]},{"id":"ecf18202f2eccf53","type":"change","z":"8a9e3983c9304228","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"msg\":\"Olá\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":80,"wires":[["745edb9018aee5c7"]]},{"id":"b6a506084ede6071","type":"debug","z":"8a9e3983c9304228","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":340,"y":140,"wires":[]}]